body {
  font-size: 16px;
}

header {
  width: 100%;
  height: 1.28rem;
  background: #fff;
  display: flex;
  align-items: center;
  padding-left: 0.36rem;
  padding-right: 0.36rem;
  border-bottom: 1px solid #e5e5e5;
}

header .select {
  position: relative;
  font-size: 0.37333rem;
  color: #666666;
}

header .icon-icon {
  font-size: 0.33333rem;
  color: #666666;
  margin-top: 0.06667rem;
  font-weight: 800;
  margin-left: 0.06667rem;
}

header .search {
  display: block;
  width: 0.93333rem;
  height: 0.77333rem;
  flex: 1;
  margin-left: 0.32rem;
  margin-right: 0.37333rem;
  border-radius: 0.93333rem;
  background: #f4f4f4;
  color: #666666;
  font-size: 0.32rem;
  padding-left: 0.76rem;
}

header .icon-fangdajing {
  margin-left: 1.6rem;
  margin-top: -0.01333rem;
  display: block;
  font-size: 0.4rem;
  position: absolute;
}

header .addbtn {
  width: 0.53333rem;
  height: 0.53333rem;
  color: #666666;
  background: #fff;
  border-radius: 50%;
  border: 0.05333rem solid #686868;
  font-size: 0.33333rem;
  font-weight: 800;
  text-align: center;
}

section {
  flex: 1;
  overflow: scroll;
  background: #efefef;
}

section .banner a {
  display: block;
  width: 100%;
  height: 2.66667rem;
  overflow: hidden;
}

section .banner a img {
  width: 100%;
  height: 2.66667rem;
  display: block;
}

section nav {
  width: 100%;
  height: 6.48rem;
  background: #fff;
  padding-top: 0.53333rem;
  padding-right: 0.2rem;
  padding-bottom: 0.4rem;
  padding-left: 0.2rem;
  margin-bottom: 0.26667rem;
}

section nav .nav {
  width: 100%;
  height: 2.18667rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #eeeeee;
}

section nav .nav a {
  display: block;
  width: 1.24rem;
  height: 1.78667rem;
  text-align: center;
}

section nav .nav a em {
  display: block;
  width: 1.25333rem;
  height: 1.25333rem;
  margin: 0 auto;
}

section nav .nav a em img {
  display: block;
  width: 100%;
  height: 100%;
}

section nav .nav a p {
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  font-size: 0.28rem;
  color: #666666;
}

section nav .nav_second,
section nav .nav_third {
  height: 1.54667rem;
  border: 0;
}

section nav .nav_second a,
section nav .nav_third a {
  margin-top: 0.4rem;
  width: 1.73333rem;
  height: 1.14667rem;
}

section nav .nav_second a em,
section nav .nav_third a em {
  width: 0.6rem;
  height: 0.6rem;
}

section nav .nav_third {
  margin-top: 0.26667rem;
}

section .content_box {
  width: 100%;
  height: 3.2rem;
  padding-top: 0.32rem;
  padding-right: 0.26667rem;
  padding-bottom: 0.29333rem;
  padding-left: 0.36rem;
  background: #fff;
  border-top: 2px solid #e5e5e5;
  display: flex;
}

section .content_box .content_left {
  width: 2.57333rem;
  height: 2.57333rem;
}

section .content_box .content_left img {
  display: block;
  width: 100%;
  height: 100%;
}

section .content_box .content_right {
  flex: 1;
  margin-left: 0.33333rem;
  padding-top: 0.33333rem;
}

section .content_box .content_right .title {
  display: flex;
  justify-content: space-between;
  height: 0.66667rem;
  width: 100%;
}

section .content_box .content_right .title h2 {
  line-height: 0.66667rem;
  font-size: 0.4rem;
}

section .content_box .content_right .title em {
  line-height: 0.8rem;
}

section .content_box .content_right em {
  color: #999999;
  display: inline-block;
  font-size: 0.34667rem;
  line-height: 0.57333rem;
}

section .content_box .content_right .price {
  width: 100%;
  height: 0.73333rem;
  line-height: 0.73333rem;
}

section .content_box .content_right .price span {
  font-size: 0.45333rem;
  color: #08c1ae;
}

section .content_box .content_right .price span b {
  font-size: 0.32rem;
}

footer {
  width: 100%;
  height: 1.30667rem;
  background: #fff;
  border: 1px solid #b7b7b7;
}

footer .foot {
  width: 100%;
  height: 1.30667rem;
  display: flex;
  justify-content: space-around;
}

footer .foot a {
  display: block;
  text-align: center;
  width: 0.61333rem;
  height: 1.01333rem;
}

footer .foot a em {
  display: block;
  font-size: 0.56rem;
  margin-bottom: 0.06667rem;
  margin-top: 0.13333rem;
  color: #808080;
}

footer .foot a p {
  font-size: 0.29333rem;
  color: #a19e96;
}

footer .foot .yanse {
  color: #06c1ad;
}
